{% extends 'common/base.html' %}

{% load static %}
{% block content %}
<!-- details section -->
<section id="recipe-details">
<h1>Recipe Details</h1>
<div class="info-section">
  <div class="recipe-header">
    <!-- recipe image -->
    <!-- if there is no image url provided, display the default recipe image -->

      {% if recipe.image_url %}
          <img
                class="recipe-img"
                src="{% static '{{ recipe.image_url }}' %}"
                alt="recipe image"
          />
     {% else %}
        <img
          class="recipe-img"
          src="https://cdn.pixabay.com/photo/2016/12/27/21/22/salad-1934944_1280.jpg"
          alt="recipe image"
        />
     {% endif %}

    <!-- recipe title -->
    <h1>{{ recipe.title }}</h1>
    <!-- recipe cuisine type -->
    <p><span class="description-recipe">Cuisine Type: {{ recipe.cuisine_type }}</span></p>
    <!-- recipe cooking time -->
    <p><span class="description-recipe">Cooking Time: {{ recipe.cooking_time }}.</span></p>
    <!-- recipe ingredients -->
    <div class="ingredients">
      <p><span class="description-recipe">Ingredients:</span></p>
      <ul>
        <!-- recipe ingredient -->
          {% for ingredient in ingredients %}
          	 <li>{{ ingredient }}</li>
          {% endfor %}

      </ul>
    </div>
    <p>
      <span class="description-recipe"
        >Instructions: {{ recipe.instructions }}</span
      >
    </p>
  </div>

  <!-- Edit/Delete buttons -->
  <div class="buttons">
    <a href="#" class="edit-button">Edit</a>
    <a href="#" class="delete-button">Delete</a>
  </div>
</div>
</section>

{% endblock %}